.cards {
     display: flex;
     justify-content: space-between;
     max-width: 540px;
     width: 90vw;
     height: 80px;
     margin-top: 30px;
     border-radius: 10px;
     background-color: #484848;
     color: black;
     font-size: 25px;
     padding: 10px;
     
}

.cards span {
     overflow: hidden;
}

.cards svg {
     align-self: center;
     height: 30px;
     width: 50px;
     padding: 10px;
     margin: 10px;
     border-radius: 10px;
     transition: all .5s;
}

.cards svg:hover {
     background-color: rgb(203, 203, 203);

}