.skeleton {
  animation: skeleton-loading .6s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: #2e2e2e;
  }
  100% {
    background-color: #424242;
  }
}

.skeleton-text {
  width: 14%;
  height: 2.7rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.skeleton-text__body {
  width: 75%;
}

.skeleton-footer {
  width: 30%;
}
